{% extends "base.html" %}
{% block content %}
<meta http-equiv="refresh" content="30" >
<div class="col-md-12" ng-app="multiZab">
    <div class="row" ng-controller="RefreshCacheCtrl">
        <div class="col-md-6" ng-controller="CountAlertsCtrl">
            <div class="panel panel-default" ng-show="labels">
                <div class="panel-heading">Count Alerts Per Zabbix</div>
                <div class="panel-body">
                    <canvas class="chart chart-polar-area" chart-data="data"
                            chart-labels="labels" chart-legend="true">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-controller="CountPerTypeCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Count Alerts Per Types</div>
                <div class="panel-body">
                    <canvas class="chart chart-polar-area" chart-data="data"
                            chart-labels="labels" chart-legend="true">
                    </canvas>
                </div>
            </div>
        </div>
        <div ng-controller="CountAlertsCtrl">
            <div class="col-md-6" ng-repeat="label in labels">
                <div class="panel panel-default">
                    <div class="panel-heading">Count Alerts Per Types for {[label]}</div>
                    <div class="panel-body" ng-controller="CountPerTypesZabbixCtrl" ng-init="init(label)">
                        <canvas class="chart chart-polar-area" chart-data="data"
                                chart-labels="labels" chart-legend="true">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}