{% extends "base.html" %}
{% block content %}
<div class="col-md-12" ng-app="multiZab">
    <div class="table-responsive" ng-controller="AlertsListCtrl">
        <div class="checkbox">
            <label><input type="checkbox" ng-click="filterAlerts('disaster')">Disaster</label>
            <label><input type="checkbox" ng-click="filterAlerts('high')">High</label>
            <label><input type="checkbox" ng-click="filterAlerts('average')">Average</label>
            <label><input type="checkbox" ng-click="filterAlerts('warning')">Warning</label>
            <label><input type="checkbox" ng-click="filterAlerts('information')">Information</label>
            <label><input type="checkbox" ng-click="filterAlerts('not_classified')">Not Classified</label>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Platform</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trigger in results | filter:priorityFilter | orderBy:['-priority','-lastchange']"
                    ng-class="{
                        'disaster': trigger.priority=='disaster',
                        'high': trigger.priority=='high',
                        'average': trigger.priority=='average',
                        'warning': trigger.priority=='warning',
                        'information': trigger.priority=='information'}">
                    <td>{[trigger.host]}</td>
                    <td>{[trigger.platform]}</td>
                    <td>{[trigger.description]}</td>
                    <td>{[trigger.priority]}</td>
                    <td><span am-time-ago="trigger.lastchange | amFromUnix"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}