{% extends "base.html" %}
{% block content %}
<div class="col-md-12" ng-app="multiZab">
    <div class="table-responsive" ng-controller="AlertsListCtrl">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Platform</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trigger in results.result | orderBy:['-priority','-lastchange']"
                    ng-class="{
                        'disaster': trigger.priority==5,
                        'high': trigger.priority==4,
                        'average': trigger.priority==3,
                        'warning': trigger.priority==2,
                        'information': trigger.priority==1}">
                    <td>{[trigger.host]}</td>
                    <td>{[trigger.platform]}</td>
                    <td>{[trigger.description]}</td>
                    <td>{[trigger.priority]}</td>
                    <td><span am-time-ago="trigger.lastchange | amFromUnix"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}